*~
*___*
*.bak
cscope.*
.DS_Store
*.kdev4
*.log
.cproject
.project
nbproject/*
.settings/*
.svn
.idea/
*.pro
*.pro.user
callgrind.*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
Makefile-*
.dep.inc
*.so
*.o
*.a
core

bin/*
external/*
debug/*
release/*
sstrip/sstrip

!tmp/readelf.txt
!tmp/nm.txt
tmp/objdump*
tmp/*.lst

.geanyprj

!CMakeLists.txt
!.gitignore
